<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjj.dao.ArticleDao">
    <insert id="addArticle" parameterType="com.hjj.pojo.ArticleBean">
        insert into Article(articleCategoryId,articleCategoryName,articleName,articleSponsorName,articleSponsorEmail,articleContent) 
        values(#{articleCategoryId},#{articleCategoryName},#{articleName},#{articleSponsorName},#{articleSponsorEmail},#{articleContent})
    </insert>
    <delete id="deleteArticle">
        delete from Article where articleId=#{articleId}
    </delete>
    <update id="updateArticle" parameterType="com.hjj.pojo.ArticleBean">
        update Article set articleCategoryId=#{articleCategoryId},articleCategoryName=#{articleCategoryName},articleName=#{articleName}
        ,articleSponsorName=#{articleSponsorName},articleSponsorEmail=#{articleSponsorEmail},articleContent=#{articleContent}
        where articleId=#{articleId}
    </update>
    <select id="getArticleByCategoryId" resultType="com.hjj.pojo.ArticleBean">
        select * from Article where articleCategoryId=#{categoryId}
    </select>
    <select id="getArticleById" resultType="com.hjj.pojo.ArticleBean">
        select * from Article where articleId=#{articleId}
    </select>
    <select id="getArticleBySponsorEmail" resultType="com.hjj.pojo.ArticleBean">
        select * from Article where articleSponsorEmail=#{email}
    </select>
    <select id="getArticleByArticleName" resultType="com.hjj.pojo.ArticleBean">
        select * from Article where articleName=#{articleName}
    </select>
</mapper>
