<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjj.dao.DatingDao">
    <insert id="AddDating" parameterType="com.hjj.pojo.DatingBean">
        insert into Dating(datingSponsorName,datingSponsorEmail,datingName,datingContent,datingStartTime,datingOverTime,datingSumpeople) 
        values(#{datingSponsorName},#{datingSponsorEmail},#{datingName},#{datingContent},#{datingStartTime},#{datingOverTime},#{datingSumpeople})
    </insert>
    <delete id="DeleteDating">
        delete from Dating where datingId=#{datingId}
    </delete>
    <update id="UpdateDating" parameterType="com.hjj.pojo.DatingBean">
	    update Dating set datingName=#{datingName},datingContent=#{datingContent} where datingId = #{datingId}
    </update>
    <select id="GetDatingBySponsorEmail" resultType="com.hjj.pojo.DatingBean">
        select * from Dating where datingSponsorEmail=#{sponsorEmail}
    </select>
    <select id="GetDatingByDatingId" resultType="com.hjj.pojo.DatingBean">
        select * from Dating where datingId=#{datingId}
    </select>
    <select id="GetAllDating" resultType="com.hjj.pojo.DatingBean">
        select datingId,datingName,datingSponsorName,datingCreatetime from Dating
    </select>
    <select id="GetDatingByDatingName" resultType="com.hjj.pojo.DatingBean">
        select * from Dating where datingName=#{datingName}
    </select>
</mapper>